.container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center; /* Yatayda ortalamak için */
    align-items: center; /* Dikeyde ortalamak için */
}

.title{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.table-container {
    display: flex;
    justify-content: center; /* Yatayda ortalamak için */
    align-items: center; /* Dikeyde ortalamak için */
}

.form-label {
    width: 90px;
    margin-bottom: -4px;
}

.form-control {
    width: 400px;
}

td {
    padding: 10px;
}

#showPassword {
    margin-right: 10px;
}

.showpassword_element {
    display: flex;
    align-items: center;
  }