<div class="container">
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <h2 class="title">Şifre Değiştirme</h2>
    <table>
      <tr>
        <td>
          <label for="currentPassword" class="form-label">Geçerli şifre</label>
        </td>
        <td>
          <input id="currentPassword" [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="currentPassword" />
          <div *ngIf="changePasswordForm.get('currentPassword')?.invalid && changePasswordForm.get('currentPassword')?.touched" class="text-danger">
            <div *ngIf="changePasswordForm.get('currentPassword')?.errors?.['required']">Eski şifre gereklidir.</div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <label for="newPassword" class="form-label">Yeni şifre</label>
        </td>
        <td>
          <input id="newPassword" [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="newPassword" />
          <div *ngIf="changePasswordForm.get('newPassword')?.invalid && changePasswordForm.get('newPassword')?.touched" class="text-danger">
            <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">Yeni şifre gereklidir.</div>
            <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">Yeni şifre en az 3 karakter olmalıdır.</div>
            <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['maxlength']">Yeni şifre en fazla 50 karakter olabilir.</div>
            <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['passwordStrength']">Yeni şifre en az bir büyük harf, bir küçük harf, bir rakam ve bir özel karakter içermelidir.</div>
          </div>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="showpassword_element">
            <input type="checkbox" id="showPassword" (change)="toggleShowPassword()">
            <label for="showPassword">Şifremi göster</label>
          </div>
        </td>
      </tr>
      <tr>
        <td> </td>
        <td>
          <input class="btn btn-success" style="float: right;" type="submit" value="Kaydet" />
        </td>
      </tr>
    </table>
  </form>
</div>