<mat-form-field class="form-elemt">
    <mat-label>Meslek İsmi</mat-label>
    <input matInput #txtJobName>
</mat-form-field>
<mat-form-field class="form-textArena">
    <mat-label>Açıklama</mat-label>
    <textarea matInput #txtJobDescription></textarea>
</mat-form-field>
<button (click)="CreateJob(txtJobName.value,txtJobDescription.value)">
    <span class="shadow"></span>
    <span class="edge"></span>
    <span class="front text">Yeni Kayıt</span>
</button>
<!-- <app-file-upload [options]="fileUploadOptions"></app-file-upload> -->