<div class="container">
    <form class="form">
        <p class="form-title">Kullanıcı Girişi</p>
        <div class="input-container">
            <input type="email" placeholder="Email">
        </div>
        <div class="input-container">
            <input type="password" placeholder="şifre">
        </div>
        <button style="width: 100%;">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front text">Oluştur</span>
            </button>

        <p class="signup-link">
            Hesabım Yok
            <a href="register">Hesap Aç</a>
        </p>
    </form>
</div>