<div class="container">
    <form class="form" [formGroup]="frm" *ngIf="state.state" (ngSubmit)="onSubmit(txtPassword.value,txtPasswordConfirm.value)">
        <p class="form-title">Yeni Şifre Oluşturma</p>
        <p style="text-align: center; margin: 0;">Lütfen yeni şifrenizi giriniz</p>
        <div class="input-container">

            <input class="form-input" #txtPassword id="password" type="password" formControlName="password" placeholder="Şifre"
                [ngClass]="{'is-invalid':submitted && component.password.errors}"
                [class.submitted] = "submittedClass">

            <!-- password hata mesajları -->
            <small class="errorMessage" *ngIf="submitted && component.password.errors?.required">Bu alan zorunludur</small>
            <small class="errorMessage" *ngIf="submitted && component.password.errors?.minlength">şifreniz en az 3 karakter olmalıdır</small>

        </div>
        <div class="input-container">
            <input class="form-input" #txtPasswordConfirm id="passwordConfirm" type="password" formControlName="passwordConfirm" placeholder="Şifre Tekrarı" 
                [ngClass]="{'is-invalid':submitted && frm.hasError('notSame')}"
                [class.submitted] = "submittedClass">

            <!-- passwordConfirm hata mesajları -->
            <small class="errorMessage" *ngIf="submitted && component.passwordConfirm.errors?.required">Bu alan zorunludur</small><br>
            <small class="errorMessage" *ngIf="submitted && frm.hasError('notSame')">girilen
                şifreler aynı değildir</small>
        </div>

        <button style="width: 100%">
            <span class="shadow"></span>
            <span class="edge"></span>
            <span class="front text">Kaydet</span>
        </button>
    </form>

    <div class="notifications-container" *ngIf="state.state == false">
        <div class="success">
            <div class="flex">
                <div class="flex-shrink-0">

                    <svg class="succes-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                            clip-rule="evenodd"></path>
                    </svg>
                </div>
                <div class="success-prompt-wrap">
                    <p class="success-prompt-heading">Şifreniz zaten sıfırlanmış
                    </p>
                    <div class="success-prompt-prompt">
                        <p>Şifre sıfırlama işlemini aynı link üzerinden yalnızca bir kere yapabilirsiniz.</p>
                        <p>Giriş yapmak için <a class="register__link" routerLink="/login">giriş</a> sayfasına
                            gidebilirsiniz.</p>
                    </div>
                    <!-- <div class="success-button-container">
                        <button type="button" class="success-button-main">View status</button>
                        <button type="button" class="success-button-secondary">Dismiss</button>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>