<div class="FilterDiv row">
  <form id="FilterForm" class="UserFilterForm">
    <div class="col-2">
      <label for="Username" class="form-label">Kullanıcı Adı</label>
      <input type="text" #username class="form-control FilterInput" id="Username" (keydown.enter)="getFilteredUsers(username.value,name.value,email.value,phoneNumber.value,role.selectedIndex,suspend.value)">
    </div>
    <div class="col-2">
      <label for="Name" class="form-label">İsim</label>
      <input type="text" #name class="form-control FilterInput" id="Name" (keydown.enter)="getFilteredUsers(username.value,name.value,email.value,phoneNumber.value,role.selectedIndex,suspend.value)">
    </div>
    <div class="col-2">
      <label for="Email" class="form-label">Email</label>
      <input type="email" #email class="form-control FilterInput" id="Email" (keydown.enter)="getFilteredUsers(username.value,name.value,email.value,phoneNumber.value,role.selectedIndex,suspend.value)">
    </div>
    <div class="col-2">
      <label for="PhoneNumber" class="form-label">Telefon Numarası</label>
      <input type="text" #phoneNumber class="form-control FilterInput" id="PhoneNumber" (keydown.enter)="getFilteredUsers(username.value,name.value,email.value,phoneNumber.value,role.selectedIndex,suspend.value)">
    </div>
    <div class="col-2">
      <label for="Role" class="form-label">Rol</label>
      <select class="form-select FilterInput" id="Role" #role>
        <option selected>Rol Seçin</option>
        <option *ngFor="let role of roles">{{role.name}}</option>
      </select>
    </div>

    <div class="col-2">
      <label for="suspend" class="form-label">Hesap Durumu</label>
      <select class="form-select FilterInput" id="suspend" #suspend>
        <option selected value="null">Durum Seçin</option>
        <option value="False">Aktif</option>
        <option value="True">Pasif</option>
      </select>
    </div>
  </form>
  <div style="margin-bottom: 10px;" class="FilterButton col-1">
    <button type="button" class="btn btn-danger" (click)="clearFilter()">Temizle</button>
  </div>
  <div style="margin-bottom: 10px;" class="FilterButton col-1">
    <button type="button" class="btn btn-success" (click)="getFilteredUsers(username.value,name.value,email.value,phoneNumber.value,role.selectedIndex,suspend.value)">Filtrele</button>
  </div>
</div>

<div class="mat-elevation-z3">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Kullanıcı Adı </th>
      <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> İsim </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef> Rol </th>
      <td mat-cell *matCellDef="let element">
        <a class="UserList__link" (click)="assingRole(element.id)">Rol Ata</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="2FA">
      <th mat-header-cell *matHeaderCellDef> 2FA </th>
      <td mat-cell *matCellDef="let element"> {{element.twoFactorEnabled}}
      </td>
    </ng-container>
    <ng-container matColumnDef="suspend">
      <th mat-header-cell *matHeaderCellDef> Hesap Durumu </th>
      <td mat-cell *matCellDef="let element"> {{element.profileState ? 'Aktif' : 'Pasif'}} <span *ngIf="element.suspend" class="badge text-bg-warning">askıya alınmış</span> </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef style="width: 5%"> </th>
      <td mat-cell *matCellDef="let element"><a href="" data-bs-toggle="modal" data-bs-target="#UserDetailModal" (click)="userDetailId = element.id">
          <img src="../../../../../assets/icons/Edit.png" style="width: 30px; height: 30px;"></a>

      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef style="width: 60px;"> </th>
        <td mat-cell *matCellDef="let element" appDelete [id]="element.id" controller="jobs" (callback)="getJobs()"></td>
      </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator class="list-paginator" (page)="pageChanged(username.value,name.value,email.value,phoneNumber.value,role.selectedIndex,suspend.value)" [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
<!-- 
<div #DeleteModel class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->

<app-users-detail [UserId]="userDetailId"></app-users-detail>