.UserList__link {
    color: hsl(221, 100%, 35%);
    line-height: 2;
    position: relative;
    cursor: pointer;
}

.UserList__link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: hsl(221, 100%, 35%);
    position: absolute;
    bottom: -.25rem;
    right: 0;
    transition: right .4s, width .4s, left .4s;
}

.UserList__link:hover::before {
    width: 100%;
    left: 0;
}

a {
    text-decoration: none;
  }