<div class="modal fade" id="UserDetailModal" tabindex="-1" aria-labelledby="UserDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="UserDetailModalLabel">Kullanıcı Bilgileri</h1>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
        </div>
        <div class="modal-body">
          <div class="inputControl col-5">
            <label for="Id" class="form-label">Id</label>
            <input type="text" #Id class="form-control DetailsInput" id="Id" [value]="user.id" disabled>
          </div>
          <div class="inputControl col-5">
            <label for="username" class="form-label">username</label>
            <input type="text" #username class="form-control DetailsInput" id="username" [value]="user.userName">
          </div>
          <div class="inputControl col-5">
            <label for="Name" class="form-label">İsim</label>
            <input type="text" #name class="form-control DetailsInput" id="Name" [value]="user.name">
          </div>
          <div class="inputControl col-5">
            <label for="lastName" class="form-label">Soy isim</label>
            <input type="text" #lastName class="form-control DetailsInput" id="lastName" [value]="user.lastName">
          </div>
          <div class="inputControl col-5">
            <label for="email" class="form-label">email</label>
            <input type="text" #email class="form-control DetailsInput" id="email" [value]="user.email">
          </div>
          <div class="inputControl col-5">
            <label for="twoFactorEnabled" class="form-label">2FA</label>
            <input type="text" #twoFactorEnabled class="form-control DetailsInput" id="twoFactorEnabled" [value]="user.twoFactorEnabled">
          </div>
          <div class="inputControl col-5">
            <label for="isAdmin" class="form-label">Admin</label>
            <input type="text" #isAdmin class="form-control DetailsInput" id="isAdmin" [value]="user.isAdmin">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
          <button type="button" class="btn btn-primary">Kaydet</button>
        </div>
      </div>
    </div>
  </div>