<div class="modal fade" id="UserDetailModal" tabindex="-1" aria-labelledby="UserDetailModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="UserDetailModalLabel">Kullanıcı Bilgileri<span *ngIf="this.suspendChecked" class="badge text-bg-warning">Pasif kullanıcı</span></h1>
      </div>
      
      <div class="modal-body">
        <table class="table table-borderless">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td class="inputLayout">
                User Id
              </td>
              <td>
                <input type="text" #Id class="form-control DetailsInput" id="Id" [value]="user.id" disabled>
              </td>
            </tr>
            <tr>
              <td class="inputLayout">
                username
              </td>
              <td>
                <input type="text" #username class="form-control DetailsInput" id="username" [value]="user.userName">
              </td>
            </tr>
            <tr>
              <td class="inputLayout">
                İsim
              </td>
              <td>
                <input type="text" #name class="form-control DetailsInput" id="Name" [value]="user.name">
              </td>
            </tr>
            <tr>
              <td class="inputLayout">
                Soy isim
              </td>
              <td>
                <input type="text" #lastName class="form-control DetailsInput" id="lastName" [value]="user.lastName">
              </td>
            </tr>
            <tr>
              <td class="inputLayout">
                Telefon
              </td>
              <td>
                <input type="text" #phoneNumber class="form-control DetailsInput" id="phoneNumber" [value]="user.phoneNumber">
              </td>
            </tr>
            <tr>
              <td class="inputLayout">
                Email
              </td>
              <td>
                <input type="text" #email class="form-control DetailsInput" id="email" [value]="user.email">
              </td>
            </tr>
            <tr>
              <td class="checkboxLayout">
                2FA
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="isTwoFactorChecked" id="isTwoFactorChecked" style="margin: 0;float: left;">
                </div>
              </td>
            </tr>
            <tr>
              <td class="checkboxLayout">
                Admin
              </td>
              <td>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" [(ngModel)]="isAdminChecked" id="isAdminChecked" style="margin: 0; float: left;">
                </div>
              </td>
            </tr>
             <tr>
              <td class="checkboxLayout">
                <span>askıya al</span>
              </td>
              <td>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input" [(ngModel)]="suspendChecked" id="isSuspended" style="margin: 0; float: left;">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary"
          (click)="onSubmit(username.value,name.value,lastName.value,email.value,phoneNumber.value)">Kaydet</button>

      </div>
    </div>
  </div>
</div>