.text-area{
    max-height: 200px;
}
.custom-modal-width {
    max-width: 600px;
    /* İhtiyacına göre arttır */
    width: 80%;
    /* Responsive olsun diye */
}

.DetailsInput {
    display: flex;
    width: 350px;
    height: 30px;
}

.inputLayout {
    display: flex;
    justify-content: flex-end;
    /* Dikeyde aşağıya hizalar */
    align-items: center;
    /* Yatayda ortalar */
    padding: 16px 8px 0px 8px;
}

.checkboxLayout {
    display: flex;
    justify-content: flex-end;
    /* Dikeyde aşağıya hizalar */
    align-items: center;
    /* Yatayda ortalar */
}

/*link css*/
.UserList__link {
    color: hsl(221, 100%, 35%);
    line-height: 2;
    position: relative;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.UserList__link::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: hsl(221, 100%, 35%);
    position: absolute;
    bottom: -.25rem;
    right: 0;
    transition: right .4s, width .4s, left .4s;
}

.UserList__link:hover::before {
    width: 100%;
    left: 0;
}

/*PDF preview css*/
.document-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.document-list li {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.document-icon {
    width: 32px;
    height: 40px;
    margin-right: 8px;
    margin-bottom: 10px;
}

.document-button-label {
    margin-left: 7px;
    font-size: 12px;
}

.document-label {
    display: flex;
    align-items: start;
}

.upload-div {
    display: flex;
    align-items: center;
}

.document-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-all-document {
    float: right;
    line-height: 2;
    position: relative;
    cursor: pointer;
    color: red;
}

.delete-all-document:hover {
    color: rgb(255, 68, 105);
}

/*load more*/
.load-more {
    line-height: 2;
    position: relative;
    cursor: pointer;
}

.load-more::before {
    content: '';
    width: 0;
    height: 2px;
    border-radius: 2px;
    background-color: hsl(204, 92%, 47%);
    position: absolute;
    bottom: -.25rem;
    right: 0;
    transition: right .4s, width .4s, left .4s;
}