<div class="modal fade" id="jobAppealDetailModal" tabindex="-1" aria-labelledby="AppealDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog custom-modal-width">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="UserDetailModalLabel">Başvuru Detayları
                    <span *ngIf="jobAppeal.isUpdated" class="badge text-bg-primary">güncellendi</span>
                </h1>
                <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
            </div>
            <div class="modal-body">
                <table class="table table-borderless">
                    <thead>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="inputLayout">
                                Başvuru Id - User Id
                            </td>
                            <td>
                                <input type="text" #Id class="form-control DetailsInput" id="Id" [value]="jobAppeal.id" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td class="inputLayout">
                                Başvuru kullanıcı adı
                            </td>
                            <td>
                                <input type="text" #username class="form-control DetailsInput" id="appealUsername" [value]="jobAppeal.appealUsername" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td class="inputLayout">
                                Başvuru açıklaması
                            </td>
                            <td>
                                <textarea class="form-control DetailsInput text-area" id="appealDescription" disabled>{{jobAppeal.appealDescription}}</textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="inputLayout">
                                Başvuru Tarihi
                            </td>
                            <td>
                                <input type="text" #name class="form-control DetailsInput" id="Name" [value]="jobAppeal.appealDate | date:'dd.MM.yyyy HH:mm'" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td class="inputLayout">
                                Son Güncelleme Tarihi
                            </td>
                            <td>
                                <input type="text" #name class="form-control DetailsInput" id="Name" [value]="jobAppeal.updatedDate | date:'dd.MM.yyyy HH:mm'" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td class="inputLayout">
                                Başvurulan Hizmet
                            </td>
                            <td>
                                <input type="text" #lastName class="form-control DetailsInput" id="lastName" [value]="jobAppeal.appealJob" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td class="inputLayout">
                                Şehir
                            </td>
                            <td>
                                <input type="text" #lastName class="form-control DetailsInput" id="lastName" [value]="jobAppeal.appealUserCity" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td class="inputLayout">
                                İlçe
                            </td>
                            <td>
                                <input type="text" #phoneNumber class="form-control DetailsInput" id="phoneNumber" [value]="jobAppeal.appealUserDistrict" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td class="inputLayout">
                                mahalle
                            </td>
                            <td>
                                <input type="text" #email class="form-control DetailsInput" id="email" [value]="jobAppeal.appealUserNeighborhood" disabled>
                            </td>
                        </tr>
                        <tr *ngIf="jobAppeal.supervisor == null ? false : true">
                            <td class="inputLayout">
                                Karar Veren Yetkili
                            </td>
                            <td>
                                <input type="text" #email class="form-control DetailsInput" id="email" [value]="jobAppeal.supervisor" disabled>
                            </td>
                        </tr>
                        <tr *ngIf="jobAppeal.decisionDate == null ? false : true">
                            <td class="inputLayout">
                                karar Tarihi
                            </td>
                            <td>
                                <input type="text" #email class="form-control DetailsInput" id="email" [value]="jobAppeal.decisionDate | date:'dd.MM.yyyy HH:mm'" disabled>
                            </td>
                        </tr>
                        <tr *ngIf="jobAppeal.appealState == null ? false : true">
                            <td class="inputLayout">
                                Başvuru Durumu
                            </td>
                            <td>
                                <input type="text" #email class="form-control DetailsInput" id="email" [value]="jobAppeal.appealState == true ?'Onaylandı':'Reddedildi'" disabled>
                            </td>
                        </tr>
                        <tr>
                            <td class="inputLayout">
                                Reddedilme Nedeni
                            </td>
                            <td>
                                <textarea #rejectionReason class="form-control DetailsInput text-area" id="rejectionReason" maxlength="200" [value]="jobAppeal.rejectionReason" (input)="updateDeleteButtonState(rejectionReason.value)" placeholder="en az 15 karakter giriniz">
                              </textarea>
                            </td>
                            <!-- //TODO buraya 150 karakterlik sayaç koy -->
                            <!-- <td class="inputLayout">150</td> -->
                        </tr>
                        <tr *ngIf="UserDocumentsCount != 0">
                            <td class="document-label">Yüklenen evraklar</td>
                            <td>
                                <ul class="document-list">
                                    <li class="document-body" *ngFor="let item of visibleFiles">
                                        <a [href]="item.filePath" target="_blank" rel="noopener noreferrer">
                                            <img src="../../../../../assets/icons/pdf logo.png" alt="DocumentPreview" class="document-icon" />
                                            <span class="document-name">{{ item.fileName }}</span>
                                        </a>
                                    </li>
                                    <!-- Daha fazla / Daha az -->
                                    <li *ngIf="UserDocuments.length > 3" class="load-more-container">
                                        <a (click)="toggleShowAll()" class="load-more">
                                            {{ showAll ? 'Daha az' : 'Daha fazla' }} <span *ngIf="!showAll">({{UserDocumentsCount -3 }})</span>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button [disabled]="deleteButtonState" type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="onCancel()">Reddet</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="onApproved()">Onayla</button>
            </div>
        </div>
    </div>
</div>