.container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}

.tittleDiv {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: -15px;
}

.left-side {
  flex: 0 0 30%;
}

.right-side {
  flex: 0 0 70%;
}

.right-side-IfGuest {
  justify-items: right;
  flex: 0 0 70%;
}

.form-label {
  width: 135px;
  margin-bottom: -4px;
}

.form-control {
  width: 400px;
}

/*input css*/
.info_input {
  display: flex;
  align-items: center;

}

/*error message css*/
.text-danger {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

/*Checkbox css*/
.Custom_checkbox {
  width: 20px;
  height: 20px;
}

td {
  padding: 10px;
}

/*ChangePassword Css*/
.ChangePassword {
  line-height: 2;
  position: relative;
  cursor: pointer;
}

.ChangePassword::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: hsl(204, 92%, 47%);
  position: absolute;
  bottom: -.25rem;
  right: 0;
  transition: right .4s, width .4s, left .4s;
}

.ChangePassword:hover::before {
  width: 100%;
  left: 0;
}

/*profile image css */

.card {
  width: 18rem;
  height: 320px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
}

.uploadButton {
  margin-top: -10px;
  margin-left: auto;
  margin-right: auto;
}

.image-container {
  width: 250px;
  /* Kendi tasarımına göre genişliği ayarla */
  height: 320px;
  /* Kendi tasarımına göre yüksekliği ayarla */
  overflow: hidden;
  border-radius: 8px;
  /* Opsiyonel, köşeleri yuvarlayabilirsin */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Resmi kırparak kutuya tam sığdırır */
  object-position: center;
  /* Resmi ortalar */
}