.container {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
  }

  .left-side {
    flex: 0 0 30%;
  }

  .right-side {
    flex: 0 0 70%;
  }

  .form-label{
    margin-bottom: -4px;
  }

 .form-control{
    width: 400px;
 }

 /*input css*/
.info_input{
  display: flex;
  align-items: center;

}

/*error message css*/
.text-danger {
  color: red;
  font-size: 12px;
  margin-top: 3px;
}

/*Checkbox css*/
.Custom_checkbox{
  width: 20px;
  height: 20px;
}

td{
  padding: 10px;
}

/*ChangePassword Css*/
.ChangePassword {
  line-height: 2;
  position: relative;
  cursor: pointer;
}

.ChangePassword::before {
  content: '';
  width: 0;
  height: 2px;
  border-radius: 2px;
  background-color: hsl(0, 0%, 19%);
  position: absolute;
  bottom: -.25rem;
  right: 0;
  transition: right .4s, width .4s, left .4s;
}

.ChangePassword:hover::before {
  width: 100%;
  left: 0;
}