<div class="container">
  <div [className]="leftSideClasses">
    <div class="card" style="text-align: center;">
      <div class="image-container">
        <img id="profile-image" [src]="userImagePath" class="card-img-top" alt="profil resmi">
      </div>
      <span style="font-size: 11px; display: inline-block; margin-top: 8px;">
        yüklediğiniz resmin 1:1 kare olmasını öneririz.
      </span>
    </div>
    <app-file-upload class="uploadButton" [options]="fileUploadOptions"></app-file-upload>
  </div>
  <div [className]="rightSideClasses">
    <form [formGroup]="profileForm" (ngSubmit)="onUserFormSubmit()">
      <table>

        <!-- profil durumu mesajı -->
        <tr *ngIf="profileForm.get('profileState')?.value == false">
          <td colspan="2">
            <div class="Appeal_Info">
              <div class="notifications-container">
                <div class="alert" [ngClass]="messageClasess.alert">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" [ngClass]="messageClasess.svg" class="h-5 w-5">
                        <path clip-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" fill-rule="evenodd"></path>
                      </svg>
                    </div>
                    <div class="alert-prompt-wrap" [ngClass]="messageClasess.prompt_wrap">
                      <p class="text-sm text-yellow-700">
                        <span *ngIf="profileForm.get('profileState')?.value == false"> İlanınız şu anda Pasif durumdadır kimse tarafından görüntülenemez <br> aktif hale getirmek için <b><a style="cursor: pointer;" (click)="startAdvert()">tıklayınız</a></b></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>

        <!-- başvuru beklemede mesajı -->
        <tr *ngIf="jobAppeal && ShowSuccessSpan">
          <td colspan="2">
            <div class="Appeal_Info">
              <div class="notifications-container">
                <div class="alert" [ngClass]="messageClasess.alert">
                  <div class="flex">
                    <div class="flex-shrink-0">
                      <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" [ngClass]="messageClasess.svg" class="h-5 w-5">
                        <path clip-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" fill-rule="evenodd"></path>
                      </svg>
                    </div>
                    <div class="alert-prompt-wrap" [ngClass]="messageClasess.prompt_wrap">
                      <p class="text-sm text-yellow-700">
                        <span *ngIf="jobAppealState == null"> Başvurunuz henüz onaylanmamıştır, Güncelleme yapmak için tıklayınız</span>
                        <span *ngIf="jobAppealState == true"> Başvurunuz onaylanmıştır, ilanınızın gözükmesi için profil resmi <br> ve kişisel açıklama girilmesi gerekmektedir</span>
                        <span *ngIf="jobAppealState == false"> Başvurunuz reddedilmiştir. reddedilme nedenlerini görmek için tıklayınız</span><br>
                        <a *ngIf="jobAppealState != true" [ngClass]="messageClasess.prompt_link" class="alert-prompt-link" href="appeal-to-job">Başvuruyu gör</a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td>ID</td>
          <td>
            <label style="text-decoration: underline;" class="form-labsel"><strong>{{ profileForm.get("id")?.value }}</strong></label>
          </td>
        </tr>
        <tr>
          <td>
            <label for="input_username" class="form-label">Kullanıcı Adı</label>
          </td>
          <td>
            <input id="input_username" type="text" class="form-control" formControlName="userName" />
            <div *ngIf="profileForm.get('userName')?.invalid &&profileForm.get('userName')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('userName')?.errors?.['usernameTaken']">Bu kullanıcı adı zaten kullanımda</div>
              <div *ngIf="profileForm.get('userName')?.errors?.['required']">Kullanıcı adı gereklidir</div>
              <div *ngIf="profileForm.get('userName')?.errors?.['minlength']">Kullanıcı adı en az 3 karakter olmalıdır</div>
              <div *ngIf="profileForm.get('userName')?.errors?.['maxlength']">Kullanıcı adı en fazla 50 karakter olabilir</div>
            </div>
          </td>
        </tr>
        <tr>
          <td><label for="input_name" class="form-label">İsim</label></td>
          <td>
            <input id="input_name" type="text" class="form-control" formControlName="name" />
            <div *ngIf="profileForm.get('name')?.invalid && profileForm.get('name')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('name')?.errors?.['required']">İsim gereklidir</div>
              <div *ngIf="profileForm.get('name')?.errors?.['minlength']">İsim en az 3 karakter olmalıdır</div>
              <div *ngIf="profileForm.get('name')?.errors?.['maxlength']">İsim en fazla 50 karakter olabilir</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="input_lastname" class="form-label">Soyisim</label>
          </td>
          <td>
            <input id="input_lastname" type="text" class="form-control" formControlName="lastName" />
            <div *ngIf="profileForm.get('lastName')?.invalid && profileForm.get('lastName')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('lastName')?.errors?.['required']">Soyisim gereklidir</div>
              <div *ngIf="profileForm.get('lastName')?.errors?.['minlength']">Soyisim en az 3 karakter olmalıdır</div>
              <div *ngIf="profileForm.get('lastName')?.errors?.['maxlength']">Soyisim en fazla 50 karakter olabilir</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="input_email" class="form-label">Email Adresi</label>
          </td>
          <td>
            <input id="input_email" type="email" class="form-control" formControlName="email" />
            <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('email')?.errors?.['required']">Email adresi gereklidir</div>
              <div *ngIf="profileForm.get('email')?.errors?.['email']">Geçerli bir email adresi giriniz</div>
              <div *ngIf="profileForm.get('email')?.errors?.['maxlength']">Email adresi en fazla 50 karakter olabilir</div>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label for="input_phone" class="form-label">Telefon Numarası</label>
          </td>
          <td>
            <input id="input_phone" type="text" class="form-control" formControlName="phoneNumber" maxlength="10" />
            <div *ngIf="profileForm.get('phoneNumber')?.invalid && profileForm.get('phoneNumber')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('phoneNumber')?.errors?.['required']">Telefon numarası gereklidir</div>
              <div *ngIf="profileForm.get('phoneNumber')?.errors?.['pattern']">Geçerli bir telefon numarası giriniz</div>
              <div *ngIf="profileForm.get('phoneNumber')?.errors?.['minlength']">Telefon numarası en az 10 karakter olmalıdır</div>
              <div *ngIf="profileForm.get('phoneNumber')?.errors?.['maxlength']">Telefon numarası en fazla 10 karakter olabilir</div>
            </div>
          </td>
        </tr>
        <tr [className]="secretSectionsClass">
          <td>
            <label for="personal_Description">Kişisel Açıklama</label>
          </td>
          <td>
            <textarea id="personal_Description" [maxlength]="DescriptionMaxLength" formControlName="personalDescription" class="form-control" style="max-height: 250px;"></textarea>
            <div *ngIf="profileForm.get('personalDescription')?.invalid && profileForm.get('personalDescription')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('personalDescription')?.errors?.['required']">Kişisel açıklama gereklidir</div>
              <div *ngIf="profileForm.get('personalDescription')?.errors?.['minlength']">Kişisel açıklama en az 100 karakter olmalıdır</div>
            </div>
          </td>
          <td>
            <p [style.color]="remainingChars < 50 ? 'red' : 'black'">
              {{ remainingChars }}
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <label>Cinsiyet</label>
          </td>
          <td>
            <label style="text-decoration: underline;"><strong>{{profileForm.get("gender")?.value}}</strong></label>
          </td>
        </tr>
        <tr [className]="secretSectionsClass">
          <td>
            <label>Hizmet Kaydı</label>
          </td>
          <td>
            <label style="text-decoration: underline;"><strong>{{profileForm.get("userJob")?.value}}</strong></label>
          </td>
        </tr>
        <tr>
          <td>
            <label for="input_2FA" class="form-label">İki Adımlı Doğrulama</label>
          </td>
          <td>
            <input id="input_2FA" type="checkbox" class="Custom_checkbox" formControlName="twoFactorEnabled" />
          </td>
        </tr>
        <tr>
          <td>
            <strong class="ChangePassword">
              <a href="changepassword">Şifre değişikliği</a>
            </strong>
          </td>
        </tr>
        <tr [className]="secretSectionsClass">
          <td style="padding: 0px 10px 0px 10px;" colspan="2">
            <hr>
          </td>
        </tr>
        <tr [className]="secretSectionsClass">
          <td>
            <label for="input_city">Şehir</label>
          </td>
          <td>
            <select id="input_city" class="form-select form-control" formControlName="city" aria-label="Default select example" (change)="onCityChange(city.selectedOptions)" #city>
              <option selected value="">İl Seçiniz</option>
              <option *ngFor="let geo of Turkey_geo" [value]="geo.City">{{geo.City}}</option>
            </select>
            <div *ngIf="profileForm.get('city')?.invalid && profileForm.get('city')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('city')?.errors?.['required']">Bu alan zorunludur</div>
            </div>
          </td>
        </tr>
        <tr [className]="secretSectionsClass">
          <td>
            <label for="input_district">İlçe</label>
          </td>
          <td>
            <select id="input_district" class="form-select form-control" formControlName="district" aria-label="Default select example" (change)="onDistrictChange(district.selectedOptions)" #district>
              <option selected value="">İlçe Seçiniz</option>
              <option *ngFor="let district of districts" [value]="district.District">{{district.District}}</option>
            </select>
            <div *ngIf="profileForm.get('district')?.invalid && profileForm.get('district')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('district')?.errors?.['required']">Bu alan zorunludur</div>
            </div>
          </td>
        </tr>
        <tr [className]="secretSectionsClass">
          <td>
            <label for="input_neighborhood">Mahalle</label>
          </td>
          <td>
            <select id="input_neighborhood" class="form-select form-control" formControlName="neighborhood" aria-label="Default select example">
              <option selected value="">Mahalle Seçiniz</option>
              <option *ngFor="let neighborhood of neighborhoods" [value]="neighborhood">{{neighborhood}}</option>
            </select>
            <div *ngIf="profileForm.get('neighborhood')?.invalid && profileForm.get('neighborhood')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('neighborhood')?.errors?.['required']">Bu alan zorunludur</div>
            </div>
          </td>
        </tr>
        <tr *ngIf="UserDocumentsCount != 0" [className]="secretSectionsClass">
          <td class="document-label">Yüklenen Evraklar</td>
          <td>
            <ul class="document-list">
              <li class="document-body" *ngFor="let item of visibleFiles">
                <a [href]="item.filePath" target="_blank" rel="noopener noreferrer">
                  <img src="../../../../../assets/icons/pdf logo.png" alt="DocumentPreview" class="document-icon" />
                  <span class="document-name">{{ item.fileName }}</span>
                </a>
              </li>
              <!-- Daha fazla / Daha az -->
              <li *ngIf="UserDocuments.length > 3" class="load-more-container">
                <a (click)="toggleShowAll()" class="load-more">
                  {{ showAll ? 'Daha az' : 'Daha fazla' }} <span *ngIf="!showAll">({{UserDocumentsCount -3 }})</span>
                </a>
              </li>
            </ul>
          </td>
        </tr>
        <tr [className]="secretSectionsClass">
          <td style="padding: 0px 10px 0px 10px;" colspan="2">
            <hr>
          </td>
        </tr>

        <tr [className]="secretSectionsClass">
          <td colspan="2"><b>Sosyal Medya Linkleri</b></td>
          <td><b>Profilde Göster</b></td>
        </tr>

        <tr [className]="secretSectionsClass">
          <td>
            <label for="input_instagramLink" class="form-label">Instagram Link</label>
          </td>
          <td>
            <input id="input_instagramLink" type="text" class="form-control" formControlName="instagramLink" />
            <div *ngIf="profileForm.get('instagramLink')?.invalid && profileForm.get('instagramLink')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('instagramLink')?.errors?.['pattern']">Geçerli bir Instagram linki giriniz</div>
            </div>
          </td>
          <td style="vertical-align: middle; text-align: center;">
            <input id="input_instagramPerm" type="checkbox" class="Custom_checkbox" formControlName="instagramPerm" />
            <label for="input_instagramPerm" class="form-label"></label>
        </tr>

        <tr [className]="secretSectionsClass">
          <td>
            <label for="input_facebookLink" class="form-label">Facebook Link</label>
          </td>
          <td>
            <input id="input_facebookLink" type="text" class="form-control" formControlName="facebookLink" />
            <div *ngIf="profileForm.get('facebookLink')?.invalid && profileForm.get('facebookLink')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('facebookLink')?.errors?.['pattern']">Geçerli bir Facebook linki giriniz</div>
            </div>
          </td>
          <td style="vertical-align: middle; text-align: center;">
            <input id="input_facebookPerm" type="checkbox" class="Custom_checkbox" formControlName="facebookPerm" />
            <label for="input_facebookPerm" class="form-label"></label>
          </td>
        </tr>

        <tr [className]="secretSectionsClass">
          <td>
            <label for="input_twitterLink" class="form-label">Twitter Link</label>
          </td>
          <td>
            <input id="input_twitterLink" type="text" class="form-control" formControlName="twitterLink" />
            <div *ngIf="profileForm.get('twitterLink')?.invalid && profileForm.get('twitterLink')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('twitterLink')?.errors?.['pattern']">Geçerli bir Twitter linki giriniz</div>
            </div>
          </td>
          <td style="vertical-align: middle; text-align: center;">
            <input id="input_twitterPerm" type="checkbox" class="Custom_checkbox" formControlName="twitterPerm" />
            <label for="input_twitterPerm" class="form-label"></label>
          </td>
        </tr>

        <tr [className]="secretSectionsClass">
          <td>
            <label for="input_LinkedinLink" class="form-label">Linkedin Link</label>
          </td>
          <td>
            <input id="input_LinkedinLink" type="text" class="form-control" formControlName="linkedinLink" />
            <div *ngIf="profileForm.get('linkedinLink')?.invalid && profileForm.get('linkedinLink')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('linkedinLink')?.errors?.['pattern']">Geçerli bir Linkedin linki giriniz</div>
            </div>
          </td>
          <td style="vertical-align: middle; text-align: center;">
            <input id="input_linkedinPerm" type="checkbox" class="Custom_checkbox" formControlName="linkedinPerm" />
            <label for="input_linkedinPerm" class="form-label"></label>
          </td>
        </tr>
        <tr [className]="secretSectionsClass">
          <td>
            <label for="input_youtubeLink" class="form-label">Youtube Link</label>
          </td>
          <td>
            <input id="input_youtubeLink" type="text" class="form-control" formControlName="youtubeLink" />
            <div *ngIf="profileForm.get('youtubeLink')?.invalid && profileForm.get('youtubeLink')?.touched" class="text-danger">
              <div *ngIf="profileForm.get('youtubeLink')?.errors?.['pattern']">Geçerli bir Youtube linki giriniz</div>
            </div>
          </td>
          <td style="vertical-align: middle; text-align: center;">
            <input id="input_youtubePerm" type="checkbox" class="Custom_checkbox" formControlName="youtubePerm" />
            <label for="input_youtubePerm" class="form-label"></label>
        </tr>

        <tr [className]="secretSectionsClass">
          <td> </td>
          <td>
            <input class="btn btn-primary save_button" style="float: right;" type="submit" value="Kaydet" />
          </td>
        </tr>
        <tr [className]="appealButton">
          <td> </td>
          <td style="display: flex; justify-content: right;">
            <h4>İlan veren olmak ister misiniz? <strong><a class="ChangePassword" href="appeal-to-job">başvur</a></strong></h4>
          </td>
        </tr>
        <tr [className]="secretSectionsClass">
          <td style="padding: 0px 10px 0px 10px;" colspan="2">
            <hr>
          </td>
        </tr>
        <tr [className]="secretSectionsClass">
          <td>
            <button *ngIf="profileForm.get('profileState')?.value == true" (click)="stopAdvert()" type="button" class="btn btn-outline-warning">
              <div>İlanı durdur</div>
            </button>
            <button *ngIf="profileForm.get('profileState')?.value == false" (click)="startAdvert()" type="button" class="btn btn-outline-success">
              <div>İlanı aktif et</div>
            </button>
            <!-- açıklama butonu -->
            <button type="button" class="tooltip-btn">i</button>
          </td>
        </tr>
      </table>
    </form>
  </div>
</div>